* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    list-style-type: none;
}

body {
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.9);
}

.Main-Title {
    padding-top: 2rem;
    text-align: center;
}

.Score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
    p {
        text-align: center;
        padding-top: 0.5rem;
    }
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    button {
        margin: 0 2rem;
        padding: 1rem 3rem;
        border-radius: 12px;
        cursor: pointer;
    }
}

#result {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
}